h1 {
  color: white;
}

.chatRoom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  padding-top: 100px;
  margin-top: 10px;
}

.chatRoom-inner {
  display: flex;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #2c2f33;
  color: white;
  border-radius: 8px;
  height: 500px;
  width: 500px;
  padding-left: 15px;
}

.message-list {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
  height: 100%;
}

.msg-container,
.msg-list,
.msg-container,
.msg-container-self {
  display: flex
}

.msg-timestamp,
.msg-username,
.msg-message,
.msg-timestamp-self,
.msg-username-self,
.msg-message-self {
  padding: 5px
}

.msg-timestamp,
.msg-timestamp-self {
  font-size: x-small;
  padding-top: 10px;
}

.msg-container-self {
  justify-content: flex-end;
}

.room-header {
  color: white;
}