h1 {
  color: white;
}

*:focus {
  outline: none;
}

input {
  border-style: none;
  color: #F6F6F6;

}

button {
  background: none;
  color: #F6F6F6;
  border-style: groove;
  border-left: none;
  border-top: none;
  border-radius: 5%;
}

.room-header {
  color: white;
}

.roomName-input {
  display: flex;
}

.chatRoom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.chatRoom-inner {
  display: flex;
  background-color: #23272a;
  border-radius: 10px;
  border-style: solid;
}

.message-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: #2c2f33;
  color: #F6F6F6;
  border-radius: 8px;
  height: 500px;
  width: 500px;
  padding-left: 15px;
}

.message-list {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
  width: 100%;
  height: 100%;
}

.msg-container,
.msg-list,
.msg-container,
.msg-container-self {
  display: flex
}

.msg-timestamp,
.msg-username,
.msg-message,
.msg-timestamp-self,
.msg-username-self,
.msg-message-self {
  padding: 5px
}

.msg-timestamp,
.msg-timestamp-self {
  font-size: x-small;
  padding-top: 10px;
}

.msg-container-self {
  justify-content: flex-end;
}

.sendMessage-container,
.sendMessage-formContainer,
form,
input {
  display: flex;
  width: 100%;
  background-color: #383d45;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 7px;
}