h1 {
  color: white;
}

.chatRoom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #2c2f33;
  color: white;
  border-radius: 8px;
  height: 60%;
  width: 80%;
  padding-left: 15px;
}

.message-list {
  margin-left: 30%;
  margin-right: 30%;
  height: 100%;
}

.msg-container {
  display:flex
}

.message-list .msg-container{
  display:flex;
}


.msg-timestamp,
.msg-username,
.msg-message {
  padding: 5px
}

.msg-timestamp {
  font-size: x-small;
  padding-top: 10px;
}